In [ ]:
## Does age of rider have an effect?

### Look at unique age values to check for outliers first
- Some birth years is in 1800's! Error? Probably recorded 18 instead of 19 in birth year?


query = 'SELECT DISTINCT birth_year FROM rides ORDER BY birth_year'
df = pd.read_sql_query(query,con)
df.head()


import numpy as np
df.birth_year[0]=np.nan
df.birth_year[-1]=np.nan
df.birth_year[185]=np.nan
df.info()


df.birth_year=df.birth_year.dropna().astype('float64')
df['age'] = 2017-df.birth_year
df.info()
#df.describe()


plt.hist(df.dropna().age)
plt.xlabel('Age (in 2017)');
plt.ylabel('count');


query = 'SELECT birth_year, COUNT(*) as num_rides FROM rides WHERE birth_year != "None" AND birth_year != "\\N" GROUP BY birth_year'
df = pd.read_sql_query(query,con)
df.tail()

old = df.dropna().age[df.dropna().age>100]
len(old)

df['birth_year']=df['birth_year'].astype('float64')
df.info()

df2 = df.loc[df.age<100]
plt.plot(df2.age, df2.num_rides)