# This notebook gets a list of US holidays, for use in NYC citibike analysis
* The goal is to predict the number of rides per day; holidays can have a large effect on this so I want to include them as a variable in my model.s

In [2]:
import requests
import pandas as pd

year=2015
parameters = {'year':year,'key':'f25f83af-c733-43e2-850e-bc37a2fec702','country':'US'}
url = 'https://holidayapi.com/v1/holidays?'
response = requests.get(url, params=parameters);
b = response.json()['holidays']
#b.keys() # each date is a key

dict_keys(['2015-01-01', '2015-01-06', '2015-01-07', '2015-01-19', '2015-02-02', '2015-02-14', '2015-02-16', '2015-02-18', '2015-03-17', '2015-03-29', '2015-04-01', '2015-04-03', '2015-04-05', '2015-04-22', '2015-04-24', '2015-05-01', '2015-05-04', '2015-05-05', '2015-05-10', '2015-05-25', '2015-06-14', '2015-06-21', '2015-06-27', '2015-07-04', '2015-08-26', '2015-09-07', '2015-09-11', '2015-09-13', '2015-09-17', '2015-10-06', '2015-10-09', '2015-10-12', '2015-10-31', '2015-11-03', '2015-11-11', '2015-11-26', '2015-11-27', '2015-12-06', '2015-12-07', '2015-12-08', '2015-12-09', '2015-12-10', '2015-12-11', '2015-12-12', '2015-12-13', '2015-12-24', '2015-12-25', '2015-12-26', '2015-12-27', '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31'])

In [12]:
df=pd.DataFrame()
for key in b.keys():
    #print(b[key])
    #df = pd.DataFrame.from_dict(b[key])
    df=df.append(pd.DataFrame.from_dict(b[key]),ignore_index=True)

In [13]:
df.head()

         date                         name    observed public
0  2016-01-01          Last Day of Kwanzaa  2016-01-01  False
1  2016-01-01               New Year's Day  2016-01-01   True
2  2016-01-06                     Epiphany  2016-01-06  False
3  2016-01-07           Orthodox Christmas  2016-01-07  False
4  2016-01-18  Martin Luther King, Jr. Day  2016-01-18   True

In [14]:
df.tail()

          date                  name    observed public
53  2016-12-30  Fifth Day of Kwanzaa  2016-12-30  False
54  2016-12-30              Hanukkah  2016-12-30  False
55  2016-12-31              Hanukkah  2016-12-31  False
56  2016-12-31        New Year's Eve  2016-12-31   True
57  2016-12-31  Sixth Day of Kwanzaa  2016-12-31  False

In [4]:
# Convert to date time, and add yday and year variables
df.date = pd.to_datetime(df.date)
df.observed = pd.to_datetime(df.observed)
df['yday'] = df['observed'].dt.dayofyear
df['year'] = df['observed'].dt.year

In [5]:
df.head()

        date                         name   observed public  yday  year
0 2015-01-01          Last Day of Kwanzaa 2015-01-01  False     1  2015
1 2015-01-01               New Year's Day 2015-01-01   True     1  2015
2 2015-01-06                     Epiphany 2015-01-06  False     6  2015
3 2015-01-07           Orthodox Christmas 2015-01-07  False     7  2015
4 2015-01-19  Martin Luther King, Jr. Day 2015-01-19   True    19  2015

In [6]:
# complete list for 1 year
df

,date,name,observed,public,yday,year
0,2015-01-01,Last Day of Kwanzaa,2015-01-01,False,1,2015
1,2015-01-01,New Year's Day,2015-01-01,True,1,2015
2,2015-01-06,Epiphany,2015-01-06,False,6,2015
3,2015-01-07,Orthodox Christmas,2015-01-07,False,7,2015
4,2015-01-19,"Martin Luther King, Jr. Day",2015-01-19,True,19,2015
5,2015-02-02,Groundhog Day,2015-02-02,False,33,2015
6,2015-02-14,Valentine's Day,2015-02-14,False,45,2015
7,2015-02-16,George Washington's Birthday,2015-02-16,True,47,2015
8,2015-02-18,Ash Wednesday,2015-02-18,False,49,2015
9,2015-03-17,St. Patrick's Day,2015-03-17,False,76,2015
10,2015-03-29,Palm Sunday,2015-03-29,False,88,2015
11,2015-04-01,April Fools' Day,2015-04-01,False,91,2015
12,2015-04-03,Good Friday,2015-04-03,False,93,2015
13,2015-04-05,Easter,2015-04-05,False,95,2015
14,2015-04-22,Earth Day,2015-04-22,False,112,2015
15,2015-04-24,National Arbor Day,2015-04-24,False,114,2015
16,2015-05-01,May Day,2015-05-01,False,121,2015
17,2015-05-04,Star Wars Day,2015-05-04,False,124,2015
18,2015-05-05,Cinco de Mayo,2015-05-05,False,125,2015
19,2015-05-10,Mother's Day,2015-05-10,False,130,2015
20,2015-05-25,Memorial Day,2015-05-25,True,145,2015
21,2015-06-14,Flag Day,2015-06-14,False,165,2015
22,2015-06-21,Father's Day,2015-06-21,False,172,2015
23,2015-06-27,Helen Keller Day,2015-06-27,False,178,2015
24,2015-07-04,Independence Day,2015-07-03,True,184,2015
25,2015-08-26,Women's Equality Day,2015-08-26,False,238,2015
26,2015-09-07,Labor Day,2015-09-07,True,250,2015
27,2015-09-11,Patriot Day,2015-09-11,False,254,2015
28,2015-09-13,National Grandparent's Day,2015-09-13,False,256,2015
29,2015-09-17,Citizenship Day,2015-09-17,False,260,2015
30,2015-10-06,German-American Day,2015-10-06,False,279,2015
31,2015-10-09,Leif Erikson Day,2015-10-09,False,282,2015
32,2015-10-12,Columbus Day,2015-10-12,True,285,2015
33,2015-10-31,Halloween,2015-10-31,False,304,2015
34,2015-11-03,Election Day,2015-11-03,False,307,2015
35,2015-11-11,Veterans Day,2015-11-11,True,315,2015
36,2015-11-26,Thanksgiving Day,2015-11-26,True,330,2015
37,2015-11-27,Black Friday,2015-11-27,False,331,2015
38,2015-12-06,Hanukkah,2015-12-06,False,340,2015
39,2015-12-07,Hanukkah,2015-12-07,False,341,2015
40,2015-12-07,Pearl Harbor Remembrance Day,2015-12-07,False,341,2015
41,2015-12-08,Hanukkah,2015-12-08,False,342,2015
42,2015-12-08,Immaculate Conception of the Virgin Mary,2015-12-08,False,342,2015
43,2015-12-09,Hanukkah,2015-12-09,False,343,2015
44,2015-12-10,Hanukkah,2015-12-10,False,344,2015
45,2015-12-11,Hanukkah,2015-12-11,False,345,2015
46,2015-12-12,Hanukkah,2015-12-12,False,346,2015
47,2015-12-13,Hanukkah,2015-12-13,False,347,2015
48,2015-12-24,Christmas Eve,2015-12-24,False,358,2015
49,2015-12-25,Christmas Day,2015-12-25,True,359,2015
50,2015-12-26,First Day of Kwanzaa,2015-12-26,False,360,2015
51,2015-12-27,Second Day of Kwanzaa,2015-12-27,False,361,2015
52,2015-12-28,Third Day of Kwanzaa,2015-12-28,False,362,2015
53,2015-12-29,Fourth Day of Kwanzaa,2015-12-29,False,363,2015
54,2015-12-30,Fifth Day of Kwanzaa,2015-12-30,False,364,2015
55,2015-12-31,New Year's Eve,2015-12-31,True,365,2015
56,2015-12-31,Sixth Day of Kwanzaa,2015-12-31,False,365,2015

In [7]:
#import sqlite3
#con = sqlite3.connect("data/citibike_database.db3")
#df.to_sql('holidays',con=con,if_exists='replace',index=False)

## Get holidays for all years of citibike data
- Make sure to delete 'holiday' table before running, if exists

In [4]:
import requests
import pandas as pd
import sqlite3

for year in [2014,2015,2016]:
    parameters = {'year':year,'key':'f25f83af-c733-43e2-850e-bc37a2fec702','country':'US'}
    url = 'https://holidayapi.com/v1/holidays?'
    response = requests.get(url, params=parameters);
    b = response.json()['holidays']
    #b.keys() # each date is a key
    df=pd.DataFrame()
    for key in b.keys():
        #print(b[key])
        #df = pd.DataFrame.from_dict(b[key])
        df=df.append(pd.DataFrame.from_dict(b[key]),ignore_index=True)
    
    df.date = pd.to_datetime(df.date)
    df.observed = pd.to_datetime(df.observed)
    df['yday'] = df['observed'].dt.dayofyear
    df['year'] = df['observed'].dt.year

    con = sqlite3.connect("data/citibike_database.db3")
    df.to_sql('holidays',con=con,if_exists='append',index=False)